.Content {
  color: #33434d;
  font-family: Georgia, Cambria, serif;
  max-width: 950px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.5em;
}

.Content p {
  margin-top: 0;
}

.Content ul,
.Content ol {
  padding-left: 1.5em;
  list-style-position: outside;
  margin-top: 0;
}

.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5,
.Content h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #45555e;
  line-height: 1.3em;
  margin: 0 0 1em 0;
}

.Content h1 {
  font-size: 1.8em;
}

.Content h2 {
  font-size: 1.5em;
}

.Content h3 {
  font-size: 1.3em;
}

.Content a {
  text-decoration: none;
  text-decoration-skip: ink;
  color: #035e7b;
}

.Content a:hover {
  text-decoration: underline;
  color: #ff5722;
}

.Content a:visited {
  color: #06799f;
}

.Content h1 > a,
.Content h1 > a:visited,
.Content h2 > a,
.Content h2 > a:visited,
.Content h3 > a,
.Content h3 > a:visited {
  color: inherit;
}

.Content blockquote {
  border-left: 3px dotted #f0f0f0;
  font-style: italic;
  margin-left: 0;
  padding-left: 1em;
}

.Content img {
  max-width: 100%;
}
