.Content {
  font-family: Georgia, Cambria, serif;
  line-height: 1.5em;
  color: #33434d;
  max-width: 950px;
  margin: 0 auto;
  padding: 1rem;
}

.Content-styled p {
  margin-top: 0;
}

.Content-styled ul,
.Content-styled ol {
  padding-left: 1.5em;
  list-style-position: outside;
  margin-top: 0;
}

.Content-styled h1,
.Content-styled h2,
.Content-styled h3,
.Content-styled h4,
.Content-styled h5,
.Content-styled h6 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #45555e;
  line-height: 1.3em;
  margin: 0 0 1em 0;
}

.Content-styled h1 {
  font-size: 1.8em;
}

.Content-styled h2 {
  font-size: 1.5em;
}

.Content-styled h3 {
  font-size: 1.3em;
}

.Content-styled a {
  text-decoration: none;
  text-decoration-skip: ink;
  color: #035e7b;
}

.Content-styled a:visited {
  color: #06799f;
}

.Content-styled a:hover {
  text-decoration: underline;
  color: #ff5722;
}

.Content-styled h1 > a,
.Content-styled h1 > a:visited,
.Content-styled h2 > a,
.Content-styled h2 > a:visited,
.Content-styled h3 > a,
.Content-styled h3 > a:visited {
  color: inherit;
}

.Content-styled blockquote {
  border-left: 3px dotted #f0f0f0;
  font-style: italic;
  margin-left: 0;
  padding-left: 1em;
}

.Content-styled img {
  max-width: 100%;
}
